body {
box-sizing: border-box;
font-family: Arial, sans-serif;
}

header {
    padding: 5px;
    margin: 0;
    height: 48px;
    margin-top: 10px ;
}

.inline {
    float: left;
    display:inline;
    margin-left: 15px;
    padding: 5px;
    font-size: 14px;
  

}
.right{
    float: right;
    display: inline;
    margin-left: 15px;
    padding: 5px;
    font-size: 14px;
}
#goog_img {
    display: flex;
    justify-content: center;
   margin-bottom: 37px;
   margin-top: 200px;

}

form {
    display: flex;
    justify-content: center ;
}

#form_bord {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 560px;
    height: 45px;

}

#text {
    width: 527px;
    height: 34px;
   border-radius: 40px;
  border: 0;
}

#form_bord img {
    width: 0.9em;
    color: #dfe1e5;
    margin-top: 3%;
    margin-left: 1%;
   
}
.button {
    float: left;
    border: 5px solid #f8f9fa;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    border-radius: 4px;
    font-size: arial, sans-serif;
  
}
#bottom {
    display: flex;
    justify-content: center;
}